@use '../common/' as *;

.banner {
  position: relative;
  background-color: var(--color-dark-08);
  padding: 1.8rem;
  border-bottom: var(--border);
  text-align: center;
  background-image: url('/backgrounds/lines-overlay.svg');

  &.is-closed {
    display: none;
  }

  @include laptop {
    padding: 1.4rem;
  }

  &__text {
    @include text-base;
  }

  &__close-button {
    position: absolute;
    background-color: rgba(#ffffff, 0.1);
    border-radius: 50%;
    padding: 1rem;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    place-items: center;

    @include laptop {
      padding: 0.8rem;
      right: 1.5rem;
    }

    img {
      width: 1.4rem;

      @include laptop {
        width: 1rem;
      }
    }
  }

  &__link {
    text-decoration: underline !important;
    margin-left: 0.5rem;
  }
}
