@use '../common/' as *;

.banner {
  --banner-padding: var(--space-sm);
  --image-size: 1rem;
  --button-padding: var(--space-xs);
  --button-right: var(--space-md);

  position: relative;
  padding: var(--banner-padding);
  background: var(--color-dark-08) url('/backgrounds/lines-overlay.svg');
  border-bottom: var(--border);
  text-align: center;

  &.is-closed {
    display: none;
  }

  &__text {
    @include text-base;
  }

  &__close-button {
    position: absolute;
    top: 50%;
    right: var(--button-right);
    transform: translateY(-50%);
    display: grid;
    place-items: center;
    padding: var(--button-padding);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    img {
      display: block;
      width: var(--image-size);
      height: var(--image-size);
      object-fit: contain;
    }
  }

  &__link {
    margin-inline-start: 0.5rem;
    text-decoration: underline !important;
    text-underline-offset: 0.3rem;
  }

  @include desktop {
    --banner-padding: var(--space-md);
    --image-size: 1.4rem;
    --button-padding: var(--space-sm);
    --button-right: var(--space-lg);
  }
}
