@use '../common' as *;

.burger-button {
  @include square(3rem);

  border: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;

  &.is-active {
    .burger-button__line:first-child {
      rotate: 45deg;
      transform-origin: 0;
      translate: 0.3em -0.175em;
    }

    .burger-button__line:nth-child(2) {
      rotate: -45deg;
    }

    .burger-button__line:last-child {
      width: 0;
    }
  }

  &__line {
    width: 100%;
    height: 0.2rem;
    background-color: currentColor;
    border-radius: var(--radius-lg);
    transition-duration: var(--transition-time);

    &:last-child {
      width: 60%;
      align-self: flex-end;
    }
  }

  @include laptop {
    display: none;
  }
}
