@use '../common/' as *;

.button {
  color: var(--color-light);
  text-wrap: nowrap;
  text-align: center;
  font-size: 1.8rem;
  padding: 1.8rem 2.4rem;
  border-radius: 1rem;
  background-color: var(--color-dark-10);
  border: var(--border);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:is(:hover, :focus):not(&--primary) {
    background-color: var(--color-dark-15);
    color: white;
  }

  @include laptop {
    font-size: 1.4rem;
    padding: 1.4rem 2rem;
    border-radius: 0.8rem;
  }

  &--primary {
    border-color: transparent;
    background-color: var(--color-primary);

    &:is(:hover, :focus) {
      border-color: var(--color-primary);
      background-color: var(--color-dark-10);
    }
  }
}
