@use '../common/' as *;

.button {
  --button-border-radius: var(--radius-md);
  --button-padding: var(--space-sm) var(--space-lg);
  --button-font-size: var(--font-sm);
  --button-bg: var(--color-dark-10);
  --button-border: var(--border);
  --button-color: var(--color-light);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--button-padding);
  font-size: var(--button-font-size);
  color: var(--button-color);
  text-wrap: nowrap;
  text-align: center;

  background-color: var(--button-bg);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  cursor: pointer;

  transition: background-color var(--transition-duration), color var(--transition-duration),
    border-color var(--transition-duration);

  &:is(:hover, :focus-visible):not(&--primary) {
    --button-bg: var(--color-dark-15);
    outline: none;
  }

  &--primary {
    --button-bg: var(--color-primary);
    border-color: transparent;

    &:is(:hover, :focus-visible) {
      --button-bg: var(--color-dark-10);
      border-color: var(--color-primary);
      outline: none;
    }
  }

  @include desktop {
    --button-border-radius: var(--radius-lg);
    --button-padding: var(--space-md) var(--space-xl);
    --button-font-size: var(--font-lg);
  }
}
