@use '../common' as *;

.cta {
  --inner-padding: 5rem;
  --column-gap: var(--space-2xl);
  --title-margin: var(--space-xs);
  --bg-pos-1: -1000rem top;
  --bg-pos-2: calc(100% + 4rem) bottom;
  --bg-size-1: 80% auto;
  --bg-size-2: 100% auto;

  background-color: var(--color-dark-08);
  background-image: url('/backgrounds/squares-overlay_1.webp'),
    url('/backgrounds/squares-overlay_2.webp');
  background-repeat: no-repeat, no-repeat;
  background-position: var(--bg-pos-1), var(--bg-pos-2);
  background-size: var(--bg-size-1), var(--bg-size-2);

  border-block: var(--border);

  &__inner {
    padding-block: var(--inner-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--column-gap);
  }

  &__title {
    color: var(--color-light);
    margin-block-end: var(--title-margin);
  }

  &__description {
    @include text-base(muted);
  }

  &__button {
    width: 100%;
  }

  @include laptop {
    --inner-padding: 6rem;
    --title-margin: var(--space-sm);
    --bg-pos-1: -1rem bottom;
    --bg-pos-2: calc(100% + 2rem) bottom;

    &__inner {
      flex-direction: row;
      text-align: left;
    }

    &__button {
      width: auto;
    }
  }

  @include desktop {
    --inner-padding: 10rem;
    --column-gap: 25rem;
    --title-margin: var(--space-md);
    --bg-size-1: 40% auto;
    --bg-size-2: 40% auto;
  }
}
