@use '../common/' as *;

.faq {
  background-color: var(--color-dark-08);
  color: var(--color-light);

  &__inner {
    position: relative;
    padding-top: 8rem;

    @include tablet {
      padding-top: 6rem;
    }
  }

  &__header {
    position: relative;
  }

  &__stars {
    position: absolute;
    top: -3rem;
    left: -1rem;

    @include laptop {
      width: 5.5rem;
      top: -2.5rem;
    }

    @include tablet {
      width: 4.6rem;
      top: -2rem;
    }
  }

  &__title {
    color: var(--color-light);
    margin-bottom: 1.4rem;

    @include laptop {
      margin-bottom: 1rem;
    }

    @include mobile {
      margin-bottom: 0.6rem;
    }
  }

  &__description {
    margin-bottom: 8rem;
    @include text-base(muted);

    @include laptop {
      margin-bottom: 6rem;
    }

    @include mobile {
      margin-bottom: 4rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding-bottom: 5rem;
    border-bottom: var(--border);
    transition: opacity 0.3s ease;

    @include laptop {
      padding-bottom: 4rem;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      padding-bottom: 3rem;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    border: var(--border);
    border-radius: 1.2rem;

    @include laptop {
      padding: 4rem;
      border-radius: 1rem;
      gap: 2.4rem;
    }

    @include mobile {
      padding: 3rem;
      gap: 2rem;
    }

    &-text {
      @include text-base(muted);
    }

    &-button {
      place-self: start;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 4rem;
  }
}
