@use '../common/' as *;

.faq {
  --inner-padding: var(--space-5xl);
  --description-margin: var(--space-3xl);
  --columns-count: 1;

  background-color: var(--color-dark-08);
  color: var(--color-light);

  &__inner {
    position: relative;
    padding-block-start: var(--inner-padding);
  }

  &__header {
    position: relative;
  }

  &__stars {
    position: absolute;
    top: calc(-1 * var(--space-lg));
    left: calc(-1 * var(--space-xs));
    width: 4.6rem;
  }

  &__title {
    color: var(--color-light);
    margin-block-end: var(--space-2xs);
  }

  &__description {
    @include text-base(muted);
    margin-block-end: var(--description-margin);
  }

  &__list {
    padding-block-end: var(--space-2xl);
    border-block-end: var(--border);
  }

  &__item {
    padding: var(--space-2xl);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--space-lg);
    border: var(--border);
    border-radius: var(--radius-lg);

    &-text {
      @include text-base(muted);
    }

    &-button {
      place-self: start;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: var(--space-lg);
    padding-block-end: var(--space-3xl);
  }

  @include tablet {
    --columns-count: 2;
  }

  @include laptop {
    --inner-padding: var(--space-6xl);
    --description-margin: var(--space-5xl);
    --columns-count: 3;

    &__stars {
      top: calc(-1 * var(--space-xl));
      width: 5.5rem;
    }

    &__title {
      margin-block-end: var(--space-xs);
    }

    &__list {
      padding-block-end: var(--space-3xl);
    }

    &__item {
      padding: var(--space-3xl);
      gap: var(--space-xl);
      border-radius: var(--radius-xl);
    }
  }

  @include desktop {
    --description-margin: var(--space-6xl);

    &__stars {
      top: calc(-1 * var(--space-2xl));
      width: 6.8rem;
    }

    &__title {
      margin-block-end: var(--space-sm);
    }

    &__list {
      padding-block-end: var(--space-4xl);
    }

    &__item {
      padding: var(--space-4xl);
      gap: var(--space-2xl);
    }
  }
}
