@use '../common/' as *;

.feature-card {
  --card-padding: var(--space-lg) var(--space-md);
  --card-radius: var(--radius-lg);
  --card-gap: var(--space-sm);
  --icon-width: 4.8rem;
  --link-icon-width: 2rem;
  --title-font-size: var(--font-sm);

  position: relative;
  background-color: var(--color-dark-10);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  border: var(--border);
  display: grid;
  place-items: center;
  gap: var(--card-gap);
  text-align: center;

  &:is(:hover, :focus) &__link-icon,
  a:is(:hover, :focus) &__link-icon {
    stroke: var(--color-primary);
  }

  &__icon {
    width: var(--icon-width);
  }

  &__title {
    font-size: var(--title-font-size);
    font-weight: var(--font-semibold);
  }

  &__link {
    position: absolute;
    inset: var(--space-xs) var(--space-xs) 0 0;
    width: fit-content;
    height: fit-content;
    margin-inline-start: auto;

    &-icon {
      width: var(--link-icon-width);
      transition: stroke var(--transition-duration);
    }
  }

  @include laptop {
    --card-padding: var(--space-2xl) var(--space-md);
    --card-gap: var(--space-md);
    --icon-width: 6rem;
    --link-icon-width: 2.6rem;
    --title-font-size: var(--font-md);

    &__link {
      inset: var(--space-md) var(--space-md) 0 0;
    }
  }

  @include desktop {
    --card-padding: var(--space-3xl) var(--space-lg);
    --card-radius: var(--radius-xl);
    --card-gap: var(--space-lg);
    --icon-width: 8.2rem;
    --link-icon-width: 3.4rem;
    --title-font-size: var(--font-xl);
  }
}
