@use '../common' as *;

.footer {
  background-color: var(--color-dark-08);
  color: var(--color-light);

  &__main {
    padding-block: 10rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 8rem;

    @include laptop {
      padding-block: 8rem;
    }

    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 5rem;
    }

    @include mobile {
      padding-block: 5rem;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 3rem;

    @include laptop {
      margin-bottom: 2.4rem;
    }

    @include mobile {
      margin-bottom: 2rem;
    }
  }

  &__email-input-overlay {
    position: relative;
    display: block;

    ::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 2.4rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2rem;
      height: 1.8rem;
      background: url('/icons/add-message.svg') no-repeat center;
      background-size: contain;
    }

    ::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 2.4rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2.2rem;
      height: 2.2rem;
      background: url('/icons/send.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__email-input {
    padding: 1.8rem 5.4rem;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-dark-60);
    border: var(--border);
    width: 100%;

    @include laptop {
      padding: 1.4rem 5.4rem;
      border-radius: 0.8rem;
    }
  }

  &__nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;

    column-gap: 2rem;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
      column-gap: 0;

      &-column {
        position: relative;
      }

      &-column::after {
        display: block;
        content: '';
        width: 100%;
        text-align: end;
        margin-top: 1.4rem;
        border-bottom: var(--border);
      }

      &-column:nth-child(even) {
        padding-left: 2rem;
      }

      &-column:nth-child(odd) {
        padding-right: 2rem;
        border-right: var(--border);
        margin-bottom: 2rem;
      }
    }
  }

  &__nav-title {
    color: var(--color-dark-60);
    font-weight: 500;
    margin-bottom: 3rem;

    @include laptop {
      margin-bottom: 2.4rem;
    }

    @include mobile {
      margin-bottom: 1.6rem;
    }
  }

  &__nav-item {
    @include text-base;

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include laptop {
        margin-bottom: 1.6rem;
      }

      @include mobile {
        margin-bottom: 0.8rem;
      }
    }
  }

  &__bottom {
    background-color: var(--color-dark-10);
    padding-block: 1.6rem;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      @include laptop {
        padding-block: 1.2rem;
      }

      @include mobile {
        padding-block: 2rem;
        flex-direction: column-reverse;
      }
    }
  }

  &__legal {
    display: flex;
    gap: 3.8rem;

    @include text-base;

    @include laptop {
      gap: 2rem;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include laptop {
      gap: 0.8rem;
    }
  }

  &__social-link {
    background-color: var(--color-dark-08);
    border-radius: 50%;
    padding: 1.4rem;

    @include laptop {
      padding: 1rem;
    }

    @include mobile {
      padding: 2rem;
    }
  }
}
