@use '../common' as *;

.footer {
  --main-padding: var(--space-4xl);
  --main-columns: 1fr;

  background-color: var(--color-dark-08);
  color: var(--color-light);

  &__main {
    padding-block: var(--main-padding);
    display: grid;
    grid-template-columns: var(--main-columns);
    gap: var(--space-4xl) var(--space-6xl);
  }

  &__logo {
    display: inline-block;
    margin-block-end: var(--space-lg);
  }

  &__email-input-overlay {
    position: relative;
    display: block;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::before {
      left: var(--space-xl);
      width: 2rem;
      height: 1.8rem;
      background-image: url('/icons/add-message.svg');
    }

    &::after {
      right: var(--space-xl);
      @include square(2.2rem);
      background-image: url('/icons/send.svg');
    }
  }

  &__email-input {
    width: 100%;
    padding: var(--space-md) 5.4rem;
    border-radius: var(--radius-md);
    font-size: var(--font-sm);
    font-weight: var(--font-medium);
    color: var(--color-dark-60);
    border: var(--border);
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &-column {
      position: relative;

      &::after {
        content: '';
        display: block;
        margin-block-start: var(--space-sm);
        border-block-end: var(--border);
      }

      &:nth-child(even) {
        padding-inline-start: var(--space-lg);
      }

      &:nth-child(odd) {
        padding-inline-end: var(--space-lg);
        border-inline-end: var(--border);
        margin-block-end: var(--space-lg);
      }
    }
  }

  &__nav-title {
    color: var(--color-dark-60);
    font-weight: var(--font-medium);
    margin-block-end: var(--space-md);
  }

  &__copyright,
  &__terms {
    @include text-base();
    color: var(--color-light-90);
  }

  &__nav-item {
    @include text-base;
    &:not(:last-child) {
      margin-block-end: var(--space-xs);
    }
  }

  &__bottom {
    background-color: var(--color-dark-10);

    &-inner {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-lg);
      padding-block: var(--space-md);
    }
  }

  &__legal {
    @include text-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
  }

  &__socials {
    display: flex;
    gap: var(--space-xs);
  }

  &__social-link {
    background-color: var(--color-dark-08);
    border-radius: 50%;
    padding: var(--space-lg);
  }

  @include laptop {
    --main-padding: var(--space-6xl);
    --main-columns: 1fr 3fr;

    &__logo {
      margin-block-end: var(--space-xl);
    }

    &__email-input {
      padding: var(--space-lg) 5.4rem;
      border-radius: var(--radius-xl);
    }

    &__nav {
      grid-template-columns: repeat(5, auto);
      column-gap: var(--space-lg);

      &-column {
        padding: 0 !important;
        border: none !important;
        margin: 0 !important;
        &::after {
          display: none;
        }
      }
    }

    &__nav-title {
      margin-block-end: var(--space-xl);
    }
    &__nav-item:not(:last-child) {
      margin-block-end: var(--space-md);
    }

    &__bottom-inner {
      flex-direction: row;
    }

    &__legal {
      flex-direction: row;
      gap: var(--space-lg);
    }

    &__social-link {
      padding: var(--space-sm);
    }
  }

  @include desktop {
    --main-padding: var(--space-7xl);

    &__logo {
      margin-block-end: var(--space-2xl);
    }

    &__nav-title {
      margin-block-end: var(--space-2xl);
    }

    &__nav-item:not(:last-child) {
      margin-block-end: var(--space-lg);
    }

    &__legal {
      gap: var(--space-2xl);
    }
  }
}
