@use '../common' as *;

.header {
  background-color: var(--color-dark-10);
  height: var(--header-height);
  color: var(--color-light);
  border-bottom: var(--border);
  position: sticky;
  top: 0;
  z-index: 9999;

  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 10rem 20rem;

  @keyframes scrolling-header {
    to {
      box-shadow: 0 0 1rem 0 var(--color-dark-30);
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    font-size: 1.8rem;
    font-weight: 500;

    @include laptop {
      font-size: 1.4rem;
    }
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
      gap: 3rem;

      @include laptop {
        gap: 2.4rem;
      }

      @include mobile {
        justify-content: center;
        flex-direction: column;
      }
    }

    &-item {
      &--active {
        padding: 1.4rem 2.4rem;
        border-radius: 1rem;
        background-color: var(--color-dark-08);
        border: var(--border);
        pointer-events: none;

        @include laptop {
          padding: 1.2rem 2rem;
        }
      }

      &--contact {
        @include mobile {
          margin-top: 2rem;

          .button {
            width: 100%;
            text-align: center;
          }
        }
      }
    }

    @include mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--color-dark-10);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;

      &:not(.is-open) {
        display: none;
      }
    }
  }

  &__burger-button {
    z-index: 10001;
  }
}
