@use '../common' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  height: var(--header-height);
  background-color: var(--color-dark-10);
  color: var(--color-light);
  border-bottom: var(--border);

  animation: scrolling-header both;
  animation-timeline: scroll();
  animation-range: 10rem 20rem;

  &__inner {
    @include text-base;
    @include flex-center;
    justify-content: space-between;
    height: 100%;
    gap: var(--space-sm);
  }

  &__nav {
    @include flex-center;
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: var(--color-dark-10);

    &:not(.is-open) {
      display: none;
    }
  }

  &__nav-list {
    @include flex-center(column);
    gap: var(--space-xl);
  }

  &__nav-item {
    &--active {
      padding: var(--space-sm) var(--space-lg);
      background-color: var(--color-dark-08);
      border: var(--border);
      border-radius: var(--radius-lg);
      pointer-events: none;
    }

    &--contact {
      margin-block-start: var(--space-lg);

      .button {
        width: 100%;
      }
    }
  }

  &__burger-button {
    z-index: 101;
  }

  @include laptop {
    &__nav {
      position: static;
      display: flex !important;
      background-color: transparent;
    }

    &__nav-list {
      flex-direction: row;
      gap: var(--space-2xl);
    }

    &__nav-item {
      &--active {
        padding: var(--space-md) var(--space-xl);
      }

      &--contact {
        margin-block-start: 0;

        .button {
          width: auto;
        }
      }
    }

    &__burger-button {
      display: none;
    }
  }
}
