@use '../common/' as *;

.hero {
  --inner-columns: 1;
  --inner-column-gap: var(--space-5xl);
  --features-list-columns: 2;

  background-color: var(--color-dark-08);
  color: var(--color-light);

  &__inner {
    display: grid;
    grid-template-columns: repeat(var(--inner-columns), 1fr);
    column-gap: var(--inner-column-gap);
    padding-inline: var(--container-padding-inline);
    margin-inline: auto;
  }

  &__body {
    align-self: center;
    display: grid;
    gap: var(--space-2xl);
    padding-block: var(--space-3xl);
  }

  &__title {
    margin-block-end: var(--space-md);
  }

  &__text {
    @include text-base(muted);
  }

  &__actions {
    @include flex-center(column);
    gap: var(--space-md);

    .button {
      width: 100%;
    }
  }

  &__kpi-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-sm);

    & > :nth-child(3) {
      grid-column: span 2;
    }
  }

  &__image-wrapper {
    @include flex-center;
    position: relative;
    order: -1;

    background: url('/backgrounds/lines-overlay.svg') center / cover no-repeat,
      linear-gradient(to bottom left, var(--color-dark-11) 6%, var(--color-dark-09) 49%);

    border-radius: var(--radius-lg);
    border: var(--border);
    margin-block-start: var(--space-2xl);
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  &__features-list {
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(var(--features-list-columns), 1fr);
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: var(--radius-xl);
    border: var(--border);
    box-shadow: 0 0 0 4px var(--color-dark-09);
  }

  &__circle {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -60%);
  }

  @include laptop {
    --features-list-columns: 4;
    --inner-columns: 2;

    &__inner {
      padding-inline: unset;
      margin-inline: unset;
    }

    &__body {
      gap: var(--space-3xl);
      padding-inline-start: var(--space-4xl);
    }

    &__title {
      margin-block-end: var(--space-lg);
    }

    &__actions {
      flex-direction: row;
      gap: var(--space-lg);
      justify-content: flex-start;

      .button {
        width: auto;
      }
    }

    &__kpi-list {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-md);

      & > :nth-child(3) {
        grid-column: span 1;
      }
    }

    &__image-wrapper {
      order: unset;
      border-radius: 0;
      border: none;
      margin-block-start: 0;
    }

    &__features-list {
      grid-column: span 2;
      gap: var(--space-lg);
      padding: var(--space-lg);
      border-block: var(--features-border);
      border-inline: unset;
      box-shadow: unset;
    }

    &__circle {
      top: 25%;
      transform: translateX(-50%);
    }
  }

  @include desktop {
    --inner-column-gap: var(--space-6xl);

    &__body {
      gap: var(--space-4xl);
      padding-inline-start: var(--space-5xl);
    }

    &__title {
      margin-block-end: var(--space-xl);
    }

    &__kpi-list {
      gap: var(--space-lg);
    }
  }
}
