@use '../common/' as *;

.kpi-card {
  --card-padding: var(--space-md);
  --card-radius: var(--radius-md);

  background-color: var(--color-dark-10);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  border: var(--border);
  text-align: center;

  &__value {
    margin-block-end: var(--space-2xs);
  }

  &__text {
    @include text-base(muted);
  }

  @include laptop {
    --card-padding: var(--space-md) var(--space-lg);
    --card-radius: var(--radius-lg);

    text-align: unset;
  }

  @include desktop {
    --card-padding: var(--space-md) var(--space-xl);
    --card-radius: var(--radius-xl);
  }
}
