@use '../common/' as *;

.pagination {
  --button-size: 4.4rem;

  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);

  &__button {
    @include flex-center;
    @include square(var(--button-size));

    border: var(--border);
    border-radius: 50%;
    background-color: var(--color-dark-10);
    cursor: pointer;
    transition: all var(--transition-duration);

    &:hover:not(&--disabled) {
      background-color: var(--color-dark-15);
      border-color: var(--color-dark-20);
    }

    &--disabled {
      background-color: var(--color-dark-08);
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__controls {
    width: 6rem;
    text-align: center;
    text-wrap: nowrap;
  }

  &__current-page {
    @include text-base;
  }

  &__all-pages {
    @include text-base(muted);
  }

  @include desktop {
    --button-size: 5.8rem;
  }
}
