@use '../common/' as *;

.properties {
  --inner-padding: var(--space-5xl);
  --stars-top: calc(-1 * var(--space-lg));
  --stars-width: 4.6rem;

  background-color: var(--color-dark-08);
  color: var(--color-light);

  &__inner {
    position: relative;
    padding-block-start: var(--inner-padding);
  }

  &__stars {
    position: absolute;
    top: var(--stars-top);
    left: calc(-1 * var(--space-xs));
    width: var(--stars-width);
  }

  &__header {
    position: relative;
  }

  &__title {
    color: var(--color-light);
    margin-block-end: var(--space-xs);
  }

  &__description {
    margin-block-end: var(--space-3xl);
    @include text-base(muted);
  }

  &__list {
    padding-block-end: var(--space-xl);
    border-bottom: var(--border);
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: var(--space-xl);
    gap: var(--space-md);
    border: var(--border);
    border-radius: var(--radius-xl);
    overflow: hidden;

    &-image-container {
      overflow: hidden;
      border-radius: var(--radius-md);
      aspect-ratio: 16 / 10;
    }

    &-image {
      display: block;
      width: 100%;
      object-fit: cover;
      transition: transform var(--transition-duration) ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    &-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: inherit;
    }

    &-title {
      margin-block-end: 0.2rem;
    }

    &-text {
      @include text-base(muted);
      margin-block-end: auto;

      a {
        text-decoration: underline;
        &:not(:hover, :focus) {
          color: var(--color-light);
        }
      }
    }

    &-tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.6rem;
    }

    &-tag {
      background-color: var(--color-dark-10);
      padding: 0.6rem 1.4rem;
      border-radius: var(--radius-full);
      display: flex;
      align-items: center;
      gap: var(--space-2xs);
      border: var(--border);

      span {
        font-size: var(--font-sm);
        font-weight: var(--font-medium);
      }

      img {
        width: 2.4rem !important;
      }
    }

    &-details {
      display: flex;
      column-gap: var(--space-2xl);
      padding-block: var(--space-xs);
    }

    &-price {
      span {
        display: block;
        font-size: var(--font-sm);
        font-weight: var(--font-medium);
        color: var(--color-dark-60);
      }
    }

    &-button {
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: var(--space-lg);
  }

  @include laptop {
    --stars-top: calc(-1 * var(--space-xl));
    --stars-width: 5.5rem;

    &__title {
      margin-block-end: var(--space-sm);
    }

    &__description {
      margin-block-end: var(--space-5xl);
    }

    &__grid {
      padding-block-end: var(--space-3xl);
    }

    &__item {
      padding: var(--space-2xl);
      gap: var(--space-lg);

      &-tag span {
        font-size: var(--font-lg);
      }

      &-details {
        column-gap: var(--space-3xl);
      }
    }
  }

  @include desktop {
    --inner-padding: var(--space-6xl);
    --stars-top: calc(-1 * var(--space-2xl));
    --stars-width: 6.8rem;

    &__title {
      margin-block-end: var(--space-md);
    }

    &__description {
      margin-block-end: var(--space-6xl);
    }

    &__list {
      padding-block-end: var(--space-4xl);
    }

    &__item {
      padding: var(--space-3xl);
      gap: var(--space-2xl);

      &-title {
        margin-block-end: 0.6rem;
      }

      &-details {
        column-gap: var(--space-4xl);
      }
    }
  }
}
