@use '../common/' as *;

.testimonials {
  --inner-padding-top: var(--space-5xl);
  --stars-width: 4.6rem;
  --star-size: 1.8rem;

  background-color: var(--color-dark-08);
  color: var(--color-light);

  &__inner {
    position: relative;
    padding-top: var(--inner-padding-top);
  }

  &__header {
    position: relative;
  }

  &__stars {
    position: absolute;
    top: calc(-1 * var(--space-lg));
    left: calc(-1 * var(--space-xs));
    width: var(--stars-width);

    &-list {
      display: flex;
      column-gap: var(--space-xs);
      align-items: start;
      flex-wrap: wrap;
    }

    &-item {
      display: flex;
      flex-shrink: 0;
      padding: 0.6rem;
      background-color: var(--color-dark-10);
      border: var(--border);
      border-radius: 50%;

      & > img {
        width: var(--star-size);
        aspect-ratio: 1/1;
      }
    }
  }

  &__title {
    color: var(--color-light);
    margin-block-end: var(--space-xs);
  }

  &__description {
    margin-block-end: var(--space-3xl);
    @include text-base(muted);
  }

  &__list {
    padding-block-end: var(--space-xl);
    border-block-end: var(--border);
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: var(--space-2xl);
    gap: var(--space-lg);
    border: var(--border);
    border-radius: var(--radius-lg);

    &-text {
      @include text-base;
      flex-grow: 1;
    }

    &-sender {
      display: flex;
      align-items: center;
      gap: var(--space-xs);
      margin-block-start: auto;

      &-source {
        @include text-base(muted);
      }
    }

    &-title {
      margin-block-end: var(--space-xs);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: var(--space-lg);
  }

  @include laptop {
    --stars-width: 5.5rem;
    --star-size: 2rem;

    &__inner {
      --stars-top: calc(-1 * var(--space-xl));
    }

    &__title {
      margin-block-end: var(--space-sm);
    }

    &__description {
      margin-block-end: var(--space-5xl);
    }

    &__list {
      gap: var(--space-2xl);
      padding-block-end: var(--space-3xl);
    }

    &__item {
      padding: var(--space-3xl);
      gap: var(--space-xl);

      &-title {
        margin-block-end: var(--space-sm);
      }

      &-sender {
        gap: var(--space-sm);
      }
    }

    &__stars-item {
      padding: 0.9rem;
    }
  }

  @include desktop {
    --inner-padding-top: var(--space-6xl);
    --star-size: 2.4rem;

    &__title {
      margin-block-end: var(--space-md);
    }

    &__description {
      margin-block-end: var(--space-6xl);
    }

    &__list {
      gap: var(--space-3xl);
      padding-block-end: var(--space-4xl);
    }

    &__item {
      padding: var(--space-4xl);
      gap: var(--space-2xl);
      border-radius: var(--radius-xl);

      &-title {
        margin-block-end: var(--space-md);
      }
    }

    &__stars-item {
      padding: var(--space-sm);
    }
  }
}
