@use 'variables';
@use 'common' as *;

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: var(--font-family);
}

h1 {
  font-size: 6rem;
  line-height: 1.2;
  font-weight: 600;

  @include laptop {
    font-size: 4.6rem;
  }

  @include tablet {
    font-size: 3.8rem;
  }

  @include mobile {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 4.8rem;
  font-weight: 600;

  @include laptop {
    font-size: 3.8rem;
  }

  @include tablet {
    font-size: 3.2rem;
  }

  @include mobile {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 4rem;
  font-weight: 700;

  @include laptop {
    font-size: 3rem;
  }

  @include tablet {
    font-size: 2.6rem;
  }

  @include mobile {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 2.4rem;
  font-weight: 600;

  @include laptop {
    font-size: 2rem;
  }

  @include tablet {
    font-size: 1.8rem;
  }
}

h5 {
  font-size: 2rem;
  font-weight: 500;

  @include laptop {
    font-size: 1.8rem;
  }

  @include mobile {
    font-size: 1.6rem;
  }
}

h6 {
  font-size: 1.8rem;
  font-weight: 500;

  @include laptop {
    font-size: 1.6rem;
  }

  @include mobile {
    font-size: 1.4rem;
  }
}

a:is(:hover, :focus) {
  color: var(--color-primary);
  transition: color var(--transition-duration);
  cursor: pointer;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-inline) * 2);
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:focus {
  outline: 0.2rem dashed var(--color-light);
  outline-offset: 0.5rem;
  transition-duration: 0s !important;
}

.is-hidden {
  display: none !important;
}
