@use 'variables';
@use 'common' as *;

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: var(--font-family);
}

h1 {
  font-size: var(--font-2xl);
  font-weight: var(--font-semibold);
  line-height: 1.2;

  @include tablet {
    font-size: var(--font-3xl);
  }

  @include laptop {
    font-size: var(--font-4xl);
  }

  @include desktop {
    font-size: var(--font-5xl);
  }
}

h2 {
  font-size: var(--font-2xl);
  font-weight: var(--font-semibold);

  @include laptop {
    font-size: var(--font-3xl);
  }

  @include desktop {
    font-size: var(--font-4xl);
  }
}

h3 {
  font-size: var(--font-xl);
  font-weight: var(--font-bold);

  @include laptop {
    font-size: var(--font-2xl);
  }

  @include desktop {
    font-size: var(--font-3xl);
  }
}

h4 {
  font-size: var(--font-lg);
  font-weight: var(--font-semibold);

  @include desktop {
    font-size: var(--font-xl);
  }
}

h5 {
  font-size: var(--font-md);
  font-weight: 500;

  @include laptop {
    font-size: var(--font-lg);
  }
}

h6 {
  font-size: var(--font-sm);
  font-weight: var(--font-medium);

  @include laptop {
    font-size: var(--font-md);
  }

  @include desktop {
    font-size: var(--font-lg);
  }
}

a:is(:hover, :focus) {
  color: var(--color-primary);
  transition: color var(--transition-duration);
  cursor: pointer;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-inline) * 2);
  padding-inline: var(--container-padding-inline);
  margin-inline: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark-30);
    background-color: var(--color-dark-08);
  }
}

.swiper-slide {
  height: auto;
  display: flex;
}

:focus {
  outline: 0.2rem dashed var(--color-light);
  outline-offset: 0.5rem;
  transition-duration: 0s !important;
}

.is-hidden {
  display: none !important;
}
