$tablet: '(min-width: 767.98px)';
$laptop: '(min-width: 1023.98px)';
$desktop: '(min-width: 1439.98px)';

@mixin tablet {
  @media ($tablet) {
    @content;
  }
}

@mixin laptop {
  @media ($laptop) {
    @content;
  }
}

@mixin desktop {
  @media ($desktop) {
    @content;
  }
}
