@use './media' as *;

@mixin text-base($muted: null) {
  font-size: var(--font-sm);
  font-weight: var(--font-medium);
  color: var(--color-light);

  @if $muted {
    color: var(--color-dark-60);
  }

  @include laptop {
    font-size: var(--font-md);
  }

  @include desktop {
    font-size: var(--font-lg);
  }
}

@mixin square($side) {
  width: $side;
  height: $side;
}

@mixin flex-center($direction: null) {
  display: flex;
  align-items: center;
  justify-content: center;

  @if $direction {
    flex-direction: $direction;
  }
}
